.sectionContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}

.sectionTitle {
  color: black;
  margin-bottom: 12px;
}

.sectionContent {
  background-color: white;
  border: 1px solid grey;
  padding: 24px;
  border-radius: 12px;
}
